@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b; /* Zinc 950 */
  color: #fafafa;
}

/* Technical Dot Grid Background */
.bg-dot-grid {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #3f3f46 1px, transparent 1px);
}

/* Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}

/* Scrollbar hiding utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}